@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant
<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card bg-warning my-5">
      <div class="card-body">
        <h4>Add a new restaurant</h4>
        @using (Html.BeginForm())
        {
          <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name)
          </div>
          <div class="form-group">
            @Html.LabelFor(model => model.Rating)
            @Html.TextBoxFor(model => model.Rating)
          </div>
          <div class="form-group">
            @Html.LabelFor(model => model.Description)
            @Html.TextBoxFor(model => model.Description)
          </div>
          <div class="form-group">
            @Html.LabelFor(model => model.Cuisine)
            @Html.DropDownList("CuisineId")
          </div>

          <button class="btn btn-light" type="submit">Add</button>
        }
      </div>
    </div>
  </div>
</div>