@{
  Layout = "_Layout";
}

@using BestRestaurants.Models
@model BestRestaurants.Models.Restaurant
<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card bg-warning my-5">
      <div class="card-body">
        <h2>Restaurant Details</h2>
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <hr />

        <p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<p>
        @* <h4>@Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(model => model.Category)</h4> *@
        <p>@Html.DisplayNameFor(model => model.Rating): @Html.DisplayFor(model => model.Rating)</p>

        <p>@Html.ActionLink("Back to List", "Index")</p>
        <p>@Html.ActionLink("Edit This Restaurant", "Edit", new { id = Model.RestaurantId })</p>
        <p>@Html.ActionLink("Delete This Restaurant", "Delete", new { id = Model.RestaurantId })</p>

      </div>
    </div>
  </div>
</div>